.extraContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    top: -30vh;
    margin-bottom: -15vh;
}

.size {
    display: flex;
    gap: 1rem;
}

.intense {
    text-align: center;
    font-family: var(--font-text);
    // 3.75
    font-size: 3rem;
    font-weight: 100;
    // 3.125
    margin-bottom: 2.125rem;
}

.interligne {
    border-bottom: 2px solid var(--black);
    width: 50%;
    // 4.93
    margin-bottom: 2.93rem;
    margin-top: 2.93rem;
}

.total {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 4.93rem;

    .totalPrice {
        font-size: 3rem;
    }
}

@media screen and (max-width: 900px) {

    .extraContainer {
        gap: 0rem;
        top: -15vh;
        margin-bottom: -5vh;
    }

    .intense {
        font-size: 2.125rem;
    }

    .interligne {
        width: 30%;
        margin-bottom: 2.875rem;
    }

    .total {
        width: 19.25rem;
        height: auto;
        margin-bottom: 2.8125rem;

        .totalPrice {
            font-size: 1.25rem;
        }
   }
  }