.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 206px;
        height: 15rem;
        background-color: var(--white);
        border-radius: 5px;
        @media screen and (max-width: 900px) {
             width: 108px;
        } 
    }
}

@media screen and (max-width: 900px) {

    .container {
        gap: 10px;
        height: 192px;
        width: 108px;
        margin: 10px 15px;
    }

    .responsive {
        width: 74px;
        height: 77px;
    }
}