.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 206px;
        height: 286px;
        background-color: var(--white);
        margin-bottom: 15px;
    }

    .responsive {
        max-width: 100%;
        height: auto;
    }   
}

@media screen and (max-width: 900px) {
    .container {
        width: 6.75rem;
        height: 12rem;
    }

    .infoContainer {
     width: 100%;
     height: auto;
    } 
}
