.submit {
    width: 95%;
    height: 106px;
    padding: 25.7px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--yellow);
    border-radius: 5px;
    font-family: var(--font-text);
    font-size: 50px;
    color: var(--black);
}

@media screen and (max-width: 900px) {
    .submit {
        width: 20.56rem;
        height: 44px;
        padding: 12px;
        font-size: 20px;
    }
}