.submit {
    max-width: 73.25rem;
    height: 7.06rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--yellow);
    border-radius: 0.94rem;
    font-size: 2.19rem;
    color: black;
}