.submit {
    width: 95%;
    height: 3rem;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: var(--yellow);
    border-radius: 5px;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--black);
}

@media screen and (max-width: 900px) {
    .submit {
        width: 20.56rem;
        height: 2.875rem;
        font-size: 1.25rem;
    }
}