.picker {
    display: flex;
    align-items: center;
    height: 3.25rem;
    width: 10.93rem;
    font-size: 1.5rem;

    .increase {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.31rem;
        width: 3.31rem;
        background-color: var(--yellow);
        border-bottom-right-radius: 20%;
        border-top-right-radius: 20%;
        font-size: 1.875rem;
    }

    .decrease {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.31rem;
        width: 3.31rem;
        background-color: var(--yellow);
        border-bottom-left-radius: 20%;
        border-top-left-radius: 20%;
        font-size: 1.875rem;
    }

    .quantity {
        width: 2.81rem;
        display: flex;
        justify-content: center;
        font-family: var(--font-inter);
        color: var(--black);

    }

    @media screen and (max-width: 900px) {
        width: 3.25rem;
        height: 0.96rem;
        .increase {
          height: 0.98rem;
          width: 0.98rem;
          font-size: 0.75rem;
      }
  
      .decrease {
          height: 0.98rem;
          width: 0.98rem;
          font-size: 0.75rem;
      }
  
      .quantity {
          font-size: 0.625rem;
          width: 0.84rem;
      }
      }

}