.container {
    display: flex;
    justify-content: center;
    gap: 1.5rem
}

.button {
  background-color: var(--white);
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.isActive {
  background-color: var(--yellow);
}

// *****************************************

  .price {
    font-family: var(--font-text);
    font-size: 2.125rem;
    margin-bottom: 1rem
  }
  
  @media screen and (max-width: 900px) {
    .icon {
      transform: scale(50%);
    }
  
    .price {
      font-family: var(--font-text);
      font-size: 1.125rem;
      margin-top: -1rem;
      margin-bottom: 0.5rem;
    }
  }


