.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  //10
  width: 8rem;
  height: 8rem;
  @media screen and (max-width: 900px) {
    height: 2.82rem;
    width: 2.82rem;
  }

  .svg {
    width: 6rem;
    @media screen and (max-width: 900px) {
      width: 1.875rem;
    }
  }
}


