.container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.button {
  background-color: var(--white);
  //15
  width: 13rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.text {
  margin-bottom: 30%;
  font-size: 3rem;
  font-weight: 100;
  font-family: var(--font-text);
}

.isActive {
  background-color: var(--yellow);
}

.price {
  font-family: var(--font-text);
  font-size: 2.125rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {

  .button {
    width: 6rem;
    height: 6rem;
  }

  .text {
    margin-bottom: 30%;
    font-size: 1rem;
    font-weight: 100;
    font-family: var(--font-text);
  }

  .price {
    font-family: var(--font-text);
    font-size: 1.125rem;
    margin-top: -1rem;
    margin-bottom: 0.5rem;
  }
}
