.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 2vw, 8rem);
    padding: 2rem ;
    margin-bottom: 10vh;
    @media screen and (max-width: 900px) {
        min-height: 70vh;
        margin-bottom: 5vh;
        justify-content: center;
    }
}

.firstSection {
    width: 90vw;
    margin-top: clamp(0rem, 5vw, 4rem);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
        font-size: clamp(1.8rem, 5vw, 4rem);
        font-weight: 700;
        font-family: var(--font-text);
    }

    span {
        font-family: var(--font-text);
        font-size: clamp(1rem, 3vw, 2rem);
        cursor: pointer;
    }
}

.ProductCard {
    li {
        margin-bottom: clamp(1rem, 4vw, 3.2rem);
    }
}

.lastSection {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-family: var(--font-text);
        font-size:clamp(1.2rem, 4vw, 2.7rem);
    }
}

.link {
    text-decoration-line: underline;
    font-family: var(--font-text);
    font-size: clamp(1.1rem, 3.5vw, 2.5rem);
    margin-block: clamp(1rem, 3vw, 1.7rem);
}

.button {
    display: flex;
    justify-content: center;
    width: 90vw;
    align-self: center;
}