.productCard{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 30%;
    .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
        gap: clamp(0.5rem, -0.75rem + 4vw, 1.5rem);
        h2{
            font-size: clamp(1.3rem, -0.2rem + 4.8vw, 2.5rem);
        }
        span{
            font-size: clamp(1rem, -0.25rem + 4vw, 2rem);
        }
    }
}