.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  // height: 281px;
  width: 100%;
  font-family: var(--text);
  padding-inline: clamp(1.2rem, 4vw, 4rem);
  padding-block: clamp(2rem, 4vw, 7rem);

  .houseOfTea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title {
    font-family: var(--font-title);
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
  }

  .subtitle {
    font-size: clamp(.8rem, 2vw, 2rem);
    color: var(--white);
  }

  .lastSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }


  .goToCart {
    width: clamp(2rem, 5vw, 8rem);
    position: relative;
    cursor: pointer;
     .itemNumber{
      background-color: white;
      width: clamp(.8rem, 2vw, 1.7rem);
      height: clamp(.8rem, 2vw, 1.7rem);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
    span{
       font-family: var(--font-inter);
       font-size: clamp(0.5rem, 1.5vw, 1rem);
       font-weight: 700;
     }
    }

  .redo {
    font-family: var(--text);
    background-color: unset;
    color: var(--white);
    font-size: clamp(0.6rem, 1.5vw, 1.5rem);
    text-decoration: underline;
    cursor: pointer;
  }
}