.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 345px;
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    color: white;
}