.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--black);
  padding: clamp(3rem, 5vw, 4rem) clamp(1rem, 3vw, 7rem) ;
  gap: 1.2rem;

  .form-error {
    color: red;
  }

  @media screen and (max-width: 900px) {
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 800px) {
        // width: 70%;
  }

  .flexRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.75rem;
    gap: 1rem;
    width: 100%;
    @media screen and (max-width: 890px) {
      justify-content: center;
      flex-direction: column;
    }
  }

  .flexColumn {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 100%;
    @media screen and (max-width: 900px) {
      justify-content: center;
      align-items: center;
    }
  }

  .label {
    font-family: var(--font-inter);
    color: var(--label-grey);
    font-size: 1.2rem;
    font-weight: 400;
    @media screen and (max-width: 900px) {
      align-self: flex-start;
    }
  }
  .two-fields{
    width: auto;
  }

  input {
    border-radius: 0.94rem;
    padding-left: 2rem;
    font-size: 1.2rem;
    border: 1px solid var(--black);
    height: 4rem;
    width: 100%;
  }

  input::placeholder {
    font-family: var(--font-inter);
    font-size: 1.2rem;
    color: var(--placeholder-grey);
  }
  .total {
    text-align: center;
    font-family: var(--font-text);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
