
.footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    padding: 94px 0 105px;
    margin-top: clamp(5rem, 3vw, 12rem);
    @media screen and (max-width: 900px) {
        gap: 5px;
        padding: 10px 0 16px;
      }
}


.title {
    color: var(--white);
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 40px;
    @media screen and (max-width: 900px) {
        font-size: 20px;
      }
}

.logo {
    width: 112px;
    height: 63.893px;
    @media screen and (max-width: 900px) {
        width: 66px;
        height: 42px;
      }
}

.slogan {
    color: var(--white);
    font-size: 30px;
    @media screen and (max-width: 900px) {
        font-size: 14px;
      }
}


