.payment {
  display: flex;
  flex-direction: column;
  gap: clamp(4rem, 3vw,5rem);
  margin-bottom : 10vh;
  @media screen and (max-width: 900px) {
    margin-top: 3vh;
  }
  @media screen and (max-width: 900px) {
    width: 70vw;
  }
  @media screen and (max-width: 500px) {
    width: 85vw;
  }
  &-choice {
    display: flex;
    justify-content: center;
  }
  &-option {
    width: clamp(9rem, 25vw, 11rem);
    background-color: var(--white);
    padding-block: clamp(.8rem, 2vw, 1.2rem) ;
    padding-inline: clamp(1rem, 2vw, 2rem);
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    font-family: var(--font-text);
  }
}

.isSelected{
    background-color: var(--yellow);
}

.titre {
  text-align: center;
        font-size: clamp(1.8rem, 5vw, 4rem);
        font-weight: 700;
        font-family: var(--font-text);
  
}