.container {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 3.6875rem;
    gap: clamp(0rem, -3.9063rem + 12.5vw, 3.125rem);
    flex-wrap: wrap;
    max-width: 80%;
}
