.main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.image {
    width: 100vw;
    img {
        min-height: 70vh;
        object-fit: cover;
    }
}

.content {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
    @media screen and (max-width: 900px) {
        gap: 2rem;
    }
}

.button {
    display: block;
    width: 41rem;
    height: 6.625rem;
    padding: 25.7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--black);
    text-align: center;
    font-family: var(--font-text);
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    @media screen and (max-width: 900px) {
        width: 20.56rem;
        height: 55px;
        padding: 15px;
        font-size: 1.25rem;
    }
}

.takeAway {
    display: block;
    width: 41rem;
    height: 6.625rem;
    padding: 25.7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--black);
    text-align: center;
    font-family: var(--font-text);
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    @media screen and (max-width: 900px) {
        width: 20.56rem;
        height: 55px;
        padding: 15px;
        font-size: 1.25rem;
    }
}