.main {
    width: 100%;
    height: 100%;
    position: relative;
    // background-image: url('\assets\other-images\bg-img.svg');
}

.background {
    width: 100%;

    // height: 100%;
    img {
        min-height: 70vh;
        object-fit: cover;
    }
}

.content {
    color: var(--white);
    position: absolute;
    top: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 77%;

    h2 {
        font-family: var(--font-title);
        font-size: 120px;
        font-weight: 400;
        padding: 183px 0 100px;

        @media screen and (max-width: 1100px) {
            font-size: 50px;
            line-height: 40px;
            padding: 100px 0 50px;
        }
    }

    p {
        font-size: 70px;
        text-align: center;
        padding-bottom: 189px;

        @media screen and (max-width: 1100px) {
            font-size: 30px;
            line-height: 40px;
            padding-bottom: 69px;
        }
    }

    @media screen and (max-width: 1100px) {
        top: 0;
    }

    @media screen and (max-width: 530px) {
        max-width: 259px;
    }
}

.button {
    width: 100%;
    height: 106px;
    padding: 25.7px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--black);
    text-align: center;
    font-family: var(--font-text);
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    @media screen and (max-width: 900px) {
        width: 20.56rem;
        height: 55px;
        padding: 15px;
        font-size: 1.25rem;
    }
}